body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  height: 100vh;
  font-family: monospace;
}
.left,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  color: white;
  position: relative;
}
.title {
  position: absolute;
  top: 1.5vw;
}
.title.left {
  left: 50%;
  transform: translateX(-50%);
}
.title.right {
  right: 50%;
  transform: translateX(50%);
}
.divider {
  position: absolute;
  width: 3px;
  height: 80%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

.footer {
  position: fixed;
  right: 1%;
  font-size: 10px;
  bottom: 12px;
}

#input {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  width: 70px;
  height: 12px;
  border: 0px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  font-size: 16px;
}

#table-container-in {
  position: absolute;
  top: 6vw;
}
#table-container-out {
  position: absolute;
  top: 6vw;
}
.number-box {
  display: inline-block;
  font-size: 10vw;
  margin-right: 2.5vw;
}
.row {
  margin-bottom: 0.7vw;
}
